<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}caronasUFMG{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
	<header>
		<nav class="navbar">
			<ul class="nav-left">
				<li>
					<a href="{% url 'home' %}">
						<img src="{% static 'images/iconcasa.png' %}" alt="Home" class="nav-icon">
						Página Principal
					</a>
				</li>
			</ul>
			
			{%if request.session.cpf%}
			<div class="dropdown">
				<button class="dropbtn">Motorista</button>
				<div class="dropdown-content">
					<a href="{% url 'criar_carona' %}">Oferecer Carona</a>
					<a href="{% url 'visualizar_caronas' %}">Visualizar Caronas</a>
				</div>
			</div>
			{%endif%}

			<ul class="nav-right">
				{% if request.session.cpf %}
					<li>
					    <a href="{% url 'logout' %}">
							<img src="{% static 'images/iconlogin.png' %}" alt="Login" class="nav-icon">
							Logout
						</a>
					</li>
				{% else %}
					<li>
						<a href="{% url 'cadastrar_usuario' %}">
							<img src="{% static 'images/iconlogin.png' %}" alt="Login" class="nav-icon">
							Cadastro & Login
						</a>
					</li>
				{% endif%}
			</ul>
		</nav>
	</header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

