<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}caronasUFMG{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
	<header>
		<nav class="navbar">
			<ul class="nav-left">
				<li>
					<a href="{% url 'home' %}">
						<img src="{% static 'images/iconcasa.png' %}" alt="Home" class="nav-icon">
						Página Principal
					</a>
				</li>
			</ul>
			
			{%if request.session.cpf%}
			<div class="dropdown">
				<button class="dropbtn">Motorista</button>
				<div class="dropdown-content">
					<a href="{% url 'criar_carona' %}">Oferecer Carona</a>
					<a href="{% url 'visualizar_caronas' %}">Visualizar Caronas</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Passageiro</button>
				<div class="dropdown-content">
					<a href="{% url 'listar_caronas' %}">Consultar Carona</a>
				</div>
			</div>
			{%endif%}

			<ul class="nav-right">
				{% if request.session.cpf %}
						<div class = "menu-item">
							<img src="{% static 'images/user-circle.png' %}" alt="Menu" class="dropdown-img-btn">

							<div class="dropdown-content">
								<a href="{% url 'configuracoes' %}"> Conta </a> 
								<a href="{% url 'logout' %}">
									<img src="{% static 'images/iconlogin.png' %}" alt="Login" class="nav-icon">
									Logout
								</a>
							</div>
						</div>
					
				{% else %}
					<li>
						<a href="{% url 'cadastrar_usuario' %}">
							<img src="{% static 'images/iconlogin.png' %}" alt="Login" class="nav-icon">
							Cadastro & Login
						</a>
					</li>
				{% endif%}
			</ul>
		</nav>
	</header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

