<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content = "width=device-width, inicial-scale=1.0">
    <title>Cancelar Carona</title>
</head>
<body>
    <h1>Cancelar Carona</h1>
    <p>Você tem certeza que deseja cancelar esta carona?</p>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type = "submit">Confirmar Cancelamento</button>
    </form>
    <a href="{% url 'visualizar_caronas' %}">Voltar</a>
</body>
</html>