{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Editar Carona{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/visualizarcarona.css' %}">
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content = "width=device-width, inicial-scale=1.0">
    <title>Cancelar Carona</title>
</head>
<body>
    <h1>Cancelar Carona</h1>
    <p></p>

    <form method="post">
        {% csrf_token %}
        <p>{{form.confirmar.label_tag}} {{form.confirmar}}</p>
        
        <button type = "submit">Confirmar Cancelamento</button>
    </form>
    <a href="{% url 'visualizar_caronas' %}">&#8592; Voltar</a>
</body>
</html>
{% endblock %}