<!-- templates/usuarios/cadastro.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completar Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <h2>Completar Cadastro</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Exibe o formulário com os campos formatados -->
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
