{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Busca de caronas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/consultarcarona.css' %}">
{% endblock %}

{% block content %}
    <main>
		<h1>Consultar carona</h1>

		<form method="get" action="{% url 'listar_caronas' %}">
			<label for="destino">Destino:</label>
			<div class = "dropdown" style="position: relative;">
				<input type = "text" id = "destino" name = "destino" oninput="autocompleteAddress(this.id)">
				<ul id = "destino-sugestoes" class = "dropdown-content"></ul>
			</div>

			<label for="dia">Data :</label>
			<input type="date" id="data" name="data">
			
			<button type="submit">Filtrar</button>
		</form>

		{% if caronas %}
			<div class="table-container">
				<table border = "1">
					<tr>
						<!-- <th>Veículo</th> -->
						<th>Ponto de Encontro</th>
						<th>Destino</th>
						<th>Vagas</th>
						<th>Data e Hora</th>
						<th>Ação</th>
					</tr>
					{% for carona in caronas %}
						<tr>
							<!-- <td>{{carona.veiculo}}</th> -->
							<td>{{carona.ponto_encontro}}</th>
							<td>{{carona.destino}}</th>
							<td>{{carona.quantidade}}</td>
							<td>{{carona.data_hora}}</th>
							<td>
								<!-- não faz nada, só criei o botão pra caso for desse jeito msm-->
								<a href="">Aceitar</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% elif consultado %}
			<p> Nenhuma carona disponível :(.</p>
		{% endif %}
		<!-- <ul>
			{% for carona in caronas %}
				<li>{{ carona.veiculo }} - {{ carona.ponto_encontro }} - {{ carona.destino }} em {{ carona.data_hora }}</li>
			{% endfor %}
		</ul> -->
	</main>
	<script>
		// Função para buscar sugestões de destino na API Geoapify
		function autocompleteAddress(inputId) {
			let input = document.getElementById(inputId).value;
			if (input.length < 3) return; // Só começa a buscar quando o usuário digitar ao menos 3 caracteres
	
			// Chama a API Geoapify com o texto digitado
			fetch(`https://api.geoapify.com/v1/geocode/autocomplete?text=${encodeURIComponent(input)}&country=Brazil&state=MG&apiKey=99a1b15864344a99850c4d67e9a9d4a7`)
				.then(response => response.json())
				.then(data => {
					let suggestionsContainer = document.getElementById(`${inputId}-sugestoes`);
					suggestionsContainer.innerHTML = ""; // Limpa as sugestões antigas
	
					if (data.features.length === 0) {
						suggestionsContainer.classList.remove("show");
						return;
					}
	
					// Exibe as sugestões
					suggestionsContainer.classList.add("show");
	
				
					data.features.slice(0, 3).forEach(feature => {
						let suggestion = document.createElement("li");
						suggestion.classList.add("suggestion");
						suggestion.innerText = feature.properties.formatted;
	
						// Ação ao clicar em uma sugestão
						suggestion.onclick = function() {
							document.getElementById(inputId).value = feature.properties.formatted;
							suggestionsContainer.innerHTML = ""; // Limpa sugestões após a seleção
							suggestionsContainer.classList.remove("show"); // Esconde o dropdown após a seleção
						};
						suggestionsContainer.appendChild(suggestion);
					});
				})
				.catch(error => console.log(error));
		}
	
		// Fecha o dropdown quando clica fora
	document.addEventListener('click', function(event) {
		const dropdowns = document.querySelectorAll('.dropdown');
		dropdowns.forEach(dropdown => {
			const suggestionsContainer = dropdown.querySelector('.dropdown-content');
			if (!dropdown.contains(event.target)) {
				suggestionsContainer.classList.remove('show'); // Esconde o dropdown se o clique for fora
			}
		});
	});

	</script>

{% endblock %}
