{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Busca de caronas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/consultarcarona.css' %}">
{% endblock %}

{% block content %}
    <main>
		<h1>Consultar carona</h1>

		<form method="get" action="{% url 'listar_caronas' %}">
			<label for="destino">Destino:</label>
			<input type="text" id="Destino" name="Destino">
			
			<label for="dia">Data :</label>
			<input type="date" id="data" name="data">
			
			<button type="submit">Filtrar</button>
		</form>

		{% if caronas %}
			<div class="table-container">
				<table border = "1">
					<tr>
						<!-- <th>Veículo</th> -->
						<th>Ponto de Encontro</th>
						<th>Destino</th>
						<th>Vagas</th>
						<th>Data e Hora</th>
						<th>Ação</th>
					</tr>
					{% for carona in caronas %}
						<tr>
							<!-- <td>{{carona.veiculo}}</th> -->
							<td>{{carona.ponto_encontro}}</th>
							<td>{{carona.destino}}</th>
							<td>{{carona.quantidade}}</td>
							<td>{{carona.data_hora}}</th>
							<td>
								<!-- não faz nada, só criei o botão pra caso for desse jeito msm-->
								<a href="">Aceitar</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% elif consultado %}
			<p> Nenhuma carona disponível :(.</p>
		{% endif %}
		<!-- <ul>
			{% for carona in caronas %}
				<li>{{ carona.veiculo }} - {{ carona.ponto_encontro }} - {{ carona.destino }} em {{ carona.data_hora }}</li>
			{% endfor %}
		</ul> -->
	</main>
{% endblock %}
