{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Criar Carona{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/criarcarona.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h2>Informações da carona:</h2>
        <form method="post">
            {% csrf_token %}
            <label for="quantidade">Passageiros:</label>
            {{ form.quantidade }}
            <label for="ponto-encontro">Ponto de Encontro:</label>
            <input type="text" id="ponto-encontro" name="ponto_encontro" oninput="autocompleteAddress(this.id)">
            <div id="ponto-encontro-sugestoes" class="sugestoes"></div>

            <label for="destino">Destino:</label>
            <input type="text" id="destino" name="destino" oninput="autocompleteAddress(this.id)">
            <div id="destino-sugestoes" class="sugestoes"></div>
            <label for="data_hora">Data e Hora:</label>
            {{form.data_hora }}
            <button type="submit">Adicionar carona</button>
        </form>
    </main>

    <script>
        function autocompleteAddress(inputId) {
            let input = document.getElementById(inputId).value;
            if (input.length < 3) return;
            console.log("Buscando sugestões para:", input);
            fetch(`https://api.geoapify.com/v1/geocode/autocomplete?text=${encodeURIComponent(input)}&country=BR&state=MG&apiKey=99a1b15864344a99850c4d67e9a9d4a7`)
                .then(response => response.json())
                .then(data => {
                    let suggestionsContainer = document.getElementById(`${inputId}-sugestoes`);
                    suggestionsContainer.innerHTML = "";  // Limpa sugestões antigas
                    
                    if (data.features.length === 0) {
                        suggestionsContainer.innerHTML = "<li class='sugestao'>Nenhuma sugestão encontrada</li>";
                        return;
                    }
    
                    // Limitar a 3 sugestões e adicionar como <li>
                    data.features.slice(0, 3).forEach(feature => {
                        let suggestion = document.createElement("li");
                        suggestion.classList.add("suggestion");
                        suggestion.innerText = feature.properties.formatted;
                        suggestion.onclick = function() {
                            document.getElementById(inputId).value = feature.properties.formatted;
                            suggestionsContainer.innerHTML = ""; // Limpa sugestões após a seleção
                        };
                        suggestionsContainer.appendChild(suggestion);
                    });
                })
                .catch(error => console.log(error));
        }
    </script>
    
{% endblock %}

