{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
{% endblock %}

{% block content %}
    <div class="espaco"></div>
    <div class="container">
        <!-- Texto à esquerda -->
        <div class="text-content text-container">
            <h1>Vá a qualquer lugar</h1>
            <p>
                <a href="{% url 'cadastrar_usuario' %}" class="login-link">Cadastre-se</a>
                e consulte caronas disponíveis.
            </p>
        </div>

        <!-- Div que conterá o mapa -->
        <div id="map"></div>

        <!-- Script do Leaflet -->
        <script src="{% static 'js/leaflet.js' %}"></script> 
        <script>
            // Inicializa o mapa com as coordenadas e o nível de zoom desejado
            const map = L.map('map').setView([-19.87062, -43.967665], 14);

            // Adiciona o layer de OpenStreetMap ao mapa
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Adiciona um marcador no mapa com um popup
            const marker = L.marker([-19.87062, -43.967665]).addTo(map)
                .bindPopup('<b>UFMG</b><br />Brasil.')
                .openPopup();

            // Corrige o redimensionamento do mapa se estiver dentro de um container responsivo
            setTimeout(() => {
                map.invalidateSize();
            }, 100);
        </script>
    </div>

    <!-- Seções de conteúdo adicionais -->
    <div class="container">
        <img src="{% static 'images/carona.jpeg' %}" alt="Home" class="nav-icon">
        <div class="text-content">
            <h1>Estude com economia</h1>
            <p>
                Consiga viagens confortáveis por preços acessíveis.
                Você pode conversar com o motorista e negociar seu preço.
            </p>
            <div class="buttons">
                <a href="{% url 'cadastrar_usuario' %}" class="start-button">Começar</a>
                <a href="{% url 'cadastrar_usuario' %}" class="login-link">Já tem uma conta? Fazer login</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-content">
            <h1>Aumente sua renda</h1>
            <p>
                Aumente sua renda enquanto segue a sua rotina.
                Você pode ganhar dinheiro no caminho para a faculdade.
            </p>
            <div class="buttons">
                <a href="{% url 'cadastrar_usuario' %}" class="start-button">Começar</a>
                <a href="{% url 'cadastrar_usuario' %}" class="login-link">Já tem uma conta? Fazer login</a>
            </div>
        </div>
        <img src="{% static 'images/motorista.jpeg' %}" alt="Home" class="nav-icon">
    </div>

    <footer>
        <p>&copy; 2024 Caronas UFMG. Todos os direitos reservados.</p>
        <p>
            <a href="#">Política de Privacidade</a> |
            <a href="#">Termos de Uso</a> |
            <a href="#">Contato</a>
        </p>
    </footer>
{% endblock %}

