{% extends 'mysite/base.html' %}
{% load static %}

{% block title %}Suas Caronas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/visualizarcarona.css' %}">
{% endblock %}

{% block content %}
    <main>
		<h2> Caronas Oferecidas</h2>

		{% if caronas %}
			<table border = "1">
				<tr>
					<th>ID</th>
					<th>Quantidade</th>
					<th>Veículo</th>
					<th>Ponto de Encontro</th>
					<th>Destino</th>
					<th>Data e Hora</th>
					<th>Ações</th>
				</tr>
				{% for carona in caronas %}
					<tr>
						<td>{{carona.id}}</td>
						<td>{{carona.quantidade}}</td>
						<td>{{carona.veiculo}}</th>
						<td>{{carona.ponto_encontro}}</th>
						<td>{{carona.destino}}</th>
						<td>{{carona.data_hora}}</th>
						<td>
							<a href="{% url 'editar_carona' carona.id %}">Editar</a> |
							<a href="{% url 'cancelar_carona' carona.id%}">Cancelar</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p> Você não tem nenhuma carona oferecida no momento :).</p>
		{% endif %}

		<a href="{% url 'home' %}">Voltar para página inicial</a>
    </main>
{% endblock %}
